/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: outfit;
}
.placeholder-color{
  color: #e0e0e0;
  font-weight: 300;
}
.slider{
  -webkit-appearance: none;
  
  background: transparent;
}

.slider::-webkit-slider-thumb{
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: url(./assets/slide_icon.svg);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-layer{
  background-image: url('./assets/bg_layer.png');
} */


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Outfit font globally */
* {
  font-family: 'Outfit', sans-serif;
}

.placeholder-color {
  color: #e0e0e0;
  font-weight: 300;
}

.slider {
  -webkit-appearance: none;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: url(./assets/slide_icon.svg);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-layer {
  background-image: url('./assets/bg_layer.png');
  background-size: cover; /* Ensures the image covers the whole container */
  background-position: center; /* Centers the image */
  height: 100%; /* Make sure it covers the full container height */
}

@layer utilities {
  /* Glow effect */
  .glow-effect {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.5),
                0 0 60px rgba(0, 255, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  /* Glowing hover effect */
  .glowing:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 255, 255, 1), 0 0 50px rgba(0, 255, 255, 0.8),
                0 0 75px rgba(0, 255, 255, 0.6);
  }
}

@media (max-width: 768px) {
  .slider-container img {
    clip-path: inset(0 5% 0 5%);
  }
}


